# S05 T01: Tasca mètodes de mostreig
**Descripció**: Aprèn a realitzar mostreig de les dades amb Python.

## Exercici 1
**Agafa un conjunt de dades de tema esportiu que t'agradi. Realitza un mostreig de les dades generant una mostra aleatòria simple i una mostra sistemàtica.**

Sample Method Description: 

https://towardsdatascience.com/the-5-sampling-algorithms-every-data-scientist-need-to-know-43c7bc11d17c

https://www.scribbr.com/methodology/sampling-methods/

https://www.analyticsvidhya.com/blog/2019/09/data-scientists-guide-8-types-of-sampling-techniques/

In [105]:
import numpy as np
import seaborn as sns
import pandas as pd
import matplotlib.pyplot as plt

We import an NBA player dataset.

https://www.kaggle.com/nathanlauga/nba-games?select=games_details.csv

In [106]:
df_NBA = pd.read_csv('NBAgames_details.csv')

C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3444: DtypeWarning: Columns (6) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [107]:
df_NBA.head()

,GAME_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_CITY,PLAYER_ID,PLAYER_NAME,NICKNAME,START_POSITION,COMMENT,MIN,...,OREB,DREB,REB,AST,STL,BLK,TO,PF,PTS,PLUS_MINUS
0,22100213,1610612764,WAS,Washington,203484,Kentavious Caldwell-Pope,Kentavious,F,NaN,27:41,...,1.0,5.0,6.0,2.0,1.0,0.0,1.0,0.0,3.0,2.0
1,22100213,1610612764,WAS,Washington,1628398,Kyle Kuzma,Kyle,F,NaN,30:28,...,1.0,4.0,5.0,3.0,1.0,2.0,1.0,1.0,5.0,-14.0
2,22100213,1610612764,WAS,Washington,1629655,Daniel Gafford,Daniel,C,NaN,24:21,...,2.0,7.0,9.0,1.0,2.0,1.0,1.0,4.0,20.0,-2.0
3,22100213,1610612764,WAS,Washington,203078,Bradley Beal,Bradley,G,NaN,35:07,...,0.0,3.0,3.0,7.0,2.0,0.0,2.0,3.0,24.0,-9.0
4,22100213,1610612764,WAS,Washington,203915,Spencer Dinwiddie,Spencer,G,NaN,28:34,...,0.0,3.0,3.0,2.0,0.0,0.0,2.0,1.0,0.0,-5.0

In [108]:
df_NBA.TEAM_CITY.value_counts()

Los Angeles                  35326
Miami                        22452
San Antonio                  22239
Boston                       22078
Dallas                       21470
Cleveland                    21240
Indiana                      21223
Denver                       21134
Detroit                      21103
Golden State                 21080
Atlanta                      20981
Utah                         20967
Houston                      20949
Milwaukee                    20923
Toronto                      20895
Portland                     20733
Phoenix                      20728
Memphis                      20692
Orlando                      20553
Washington                   20548
Chicago                      20489
Philadelphia                 20384
Sacramento                   19936
New York                     19858
Minnesota                    19773
Charlotte                    19046
New Orleans                  18317
Oklahoma City                15673
Brooklyn                     10774
New Jersey                    9765
LA                            7498
Seattle                       5314
New Orleans/Oklahoma City     1970
Name: TEAM_CITY, dtype: int64

In [109]:
df_NBA.columns

Index(['GAME_ID', 'TEAM_ID', 'TEAM_ABBREVIATION', 'TEAM_CITY', 'PLAYER_ID',
       'PLAYER_NAME', 'NICKNAME', 'START_POSITION', 'COMMENT', 'MIN', 'FGM',
       'FGA', 'FG_PCT', 'FG3M', 'FG3A', 'FG3_PCT', 'FTM', 'FTA', 'FT_PCT',
       'OREB', 'DREB', 'REB', 'AST', 'STL', 'BLK', 'TO', 'PF', 'PTS',
       'PLUS_MINUS'],
      dtype='object')

Definition of some columns is:
 * MIN: minutes
 * FGM, FGA, FG_PCT: field goals made, attempted and percentage
 * FG3M, FG3A, FG3_PCT: three-point field goals made, attempted and percentage
 * FTM, FTA, FT_PCT: free throws made, attempted and percentage
 * REB, OREB, DREB: rebounds, offensive rebounds, defensive rebounds
 * AST: assists
 * STL: steals
 * BLK: blocks
 * TO: turnovers
 * PF: personal fouls
 * PTS: points
 * PLUS_MINUS: The point differential when a player or team is on the floor

In [110]:
df_NBA.shape

(626111, 29)

**Simple Random Sampling**

We ramdomly select 1000 of the 626111 players

In [111]:
df_sample=df_NBA.sample(1000)

In [112]:
df_sample.head()

,GAME_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_CITY,PLAYER_ID,PLAYER_NAME,NICKNAME,START_POSITION,COMMENT,MIN,...,OREB,DREB,REB,AST,STL,BLK,TO,PF,PTS,PLUS_MINUS
117830,20700510,1610612737,ATL,Atlanta,1533,Anthony Johnson,NaN,G,NaN,28:02,...,1.0,0.0,1.0,6.0,1.0,0.0,0.0,1.0,5.0,5.0
482613,21501182,1610612764,WAS,Washington,201196,Ramon Sessions,NaN,G,NaN,32:17,...,0.0,1.0,1.0,6.0,1.0,0.0,2.0,2.0,12.0,-9.0
222147,20400437,1610612749,MIL,Milwaukee,693,Joe Smith,NaN,F,NaN,33:26,...,2.0,4.0,6.0,1.0,0.0,0.0,1.0,4.0,6.0,-16.0
24887,22000028,1610612750,MIN,Minnesota,1629633,Jarrett Culver,NaN,NaN,NaN,19:45,...,3.0,3.0,6.0,0.0,1.0,0.0,0.0,3.0,14.0,9.0
497357,21500609,1610612746,LAC,LA,203143,Pablo Prigioni,NaN,NaN,NaN,16:11,...,2.0,2.0,4.0,4.0,0.0,0.0,1.0,0.0,5.0,0.0

In [113]:
df_sample.shape

(1000, 29)

**Systematic Sampling**

In [114]:
# Define systematic sampling function
def systematic_sampling(df, step):
    initial_value = np.random.randint(0,111)
    indexes = np.arange(initial_value, len(df), step=step)
    systematic_sample = df.iloc[indexes]
    return systematic_sample
 
 
# Obtain a systematic sample and save it in a new variable
df_syst_sample = systematic_sampling(df_NBA, 625) # 625 is the step of the systematic sampling. We select it to have around 1000 players

In [115]:
df_syst_sample

,GAME_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_CITY,PLAYER_ID,PLAYER_NAME,NICKNAME,START_POSITION,COMMENT,MIN,...,OREB,DREB,REB,AST,STL,BLK,TO,PF,PTS,PLUS_MINUS
21,22100213,1610612766,CHA,Charlotte,1629667,Jalen McDaniels,Jalen,NaN,NaN,17:19,...,0.0,6.0,6.0,1.0,0.0,0.0,0.0,1.0,11.0,8.0
646,22100209,1610612747,LAL,Los Angeles,201566,Russell Westbrook,Russell,G,NaN,31:15,...,0.0,6.0,6.0,8.0,1.0,0.0,4.0,3.0,25.0,-13.0
1271,22100183,1610612744,GSW,Golden State,1626172,Kevon Looney,Kevon,C,NaN,20:27,...,3.0,7.0,10.0,1.0,0.0,0.0,0.0,0.0,4.0,14.0
1896,22100150,1610612742,DAL,Dallas,1628425,Sterling Brown,Sterling,NaN,NaN,11:13,...,0.0,4.0,4.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0
2521,22100129,1610612750,MIN,Minnesota,201976,Patrick Beverley,Patrick,G,NaN,27:21,...,0.0,4.0,4.0,3.0,0.0,0.0,2.0,6.0,5.0,-23.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
623146,21200014,1610612759,SAS,San Antonio,201986,Nando De Colo,NaN,NaN,DNP - Coach's Decision,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
623771,11200102,1610612750,MIN,Minnesota,200826,J.J. Barea,NaN,NaN,NaN,18,...,0.0,0.0,0.0,7.0,0.0,0.0,1.0,1.0,2.0,NaN
624396,11200078,1610612737,ATL,Atlanta,202345,Damion James,NaN,NaN,NaN,16,...,2.0,5.0,7.0,1.0,1.0,1.0,1.0,5.0,10.0,NaN
625021,11200055,1610612766,CHA,Charlotte,201196,Ramon Sessions,NaN,NaN,NaN,34,...,1.0,3.0,4.0,7.0,1.0,0.0,3.0,2.0,18.0,NaN
625646,11200026,1610612755,PHI,Philadelphia,201950,Jrue Holiday,NaN,NaN,NaN,20,...,2.0,2.0,4.0,3.0,1.0,0.0,1.0,3.0,27.0,NaN

## Exercici 2
**Continua amb el conjunt de dades de tema esportiu i genera una mostra estratificada i una mostra utilitzant SMOTE (Synthetic Minority Oversampling Technique).**

**Stratified Sampling**

1000 players are selected proportionally to the number or times the TEAM_CITY

In [116]:
from sklearn.model_selection import train_test_split

In [117]:
x = df_NBA
y = df_NBA.TEAM_CITY
x_train, x_test, y_train, y_test = train_test_split(x, y, stratify=y, train_size=1000)

In [118]:
x_train

,GAME_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_CITY,PLAYER_ID,PLAYER_NAME,NICKNAME,START_POSITION,COMMENT,MIN,...,OREB,DREB,REB,AST,STL,BLK,TO,PF,PTS,PLUS_MINUS
182071,20500667,1610612765,DET,Detroit,2545,Darko Milicic,NaN,NaN,NaN,3:37,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,-4.0
84822,20800463,1610612742,DAL,Dallas,467,Jason Kidd,NaN,G,NaN,39:30,...,3.0,4.0,7.0,16.0,4.0,1.0,2.0,0.0,14.0,10.0
444427,21601222,1610612751,BKN,Brooklyn,1627785,Isaiah Whitehead,NaN,NaN,NaN,25:52,...,0.0,3.0,3.0,2.0,0.0,0.0,3.0,3.0,5.0,-22.0
232395,20400015,1610612746,LAC,Los Angeles,2733,Shaun Livingston,NaN,NaN,NaN,16:04,...,0.0,5.0,5.0,3.0,0.0,0.0,1.0,2.0,6.0,5.0
390637,21800529,1610612739,CLE,Cleveland,1626224,Cedi Osman,NaN,F,NaN,35:42,...,2.0,6.0,8.0,3.0,0.0,0.0,3.0,5.0,22.0,8.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
389547,21800578,1610612755,PHI,Philadelphia,1628413,Jonah Bolden,NaN,F,NaN,29:03,...,3.0,6.0,9.0,3.0,0.0,2.0,1.0,4.0,11.0,11.0
226385,20400262,1610612758,SAC,Sacramento,2440,Matt Barnes,NaN,NaN,NaN,8:57,...,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,3.0,7.0
526368,21400922,1610612742,DAL,Dallas,200765,Rajon Rondo,NaN,G,NaN,31:54,...,0.0,4.0,4.0,6.0,2.0,0.0,0.0,3.0,14.0,-21.0
157668,20600258,1610612756,PHX,Phoenix,147,Jalen Rose,NaN,NaN,NaN,6:30,...,0.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,3.0,2.0
364064,21900177,1610612752,NYK,New York,1628422,Damyean Dotson,NaN,NaN,NaN,22:49,...,0.0,3.0,3.0,2.0,0.0,0.0,0.0,1.0,4.0,3.0

**SMOTE Sample (Synthetic Minority Oversampling Technique)**

We are going to check the players that have play and they one that haven´t and use the SMOTE to simulate addional samples and avoid high differences in the variable weight.

In [119]:
# !pip install imbalanced-learn

In [120]:
from imblearn.over_sampling import SMOTE
from collections import Counter

SMOTE will only work with numerical values, so we have to clean up the dataset.

For this exercise we keep it simple and we remove string columns, fill all nulls and crease a column with a 1 if the players have played any minute or with a 0 if they haven´t played any minute.

In [121]:
df_NBA['MIN'].fillna(0, inplace=True)
df_NBA.MIN.value_counts()

0        102360
5          1989
12:00      1654
24         1185
22         1123
          ...
57:50         1
56:29         1
55:28         1
51:37         1
54:48         1
Name: MIN, Length: 3390, dtype: int64

In [122]:
df_NBA['played']=1
df_NBA.loc[(df_NBA['MIN']==0), 'played']=0
df_NBA['played'].value_counts()

1    523751
0    102360
Name: played, dtype: int64

In [123]:
# We remove string columns and fill all NaN with 0
df_NBA2 = df_NBA.copy()
df_NBA2.drop(['GAME_ID', 'TEAM_ID', 'TEAM_ABBREVIATION', 'TEAM_CITY', 'PLAYER_ID',
       'PLAYER_NAME', 'NICKNAME', 'START_POSITION', 'COMMENT', 'MIN'], axis=1, inplace=True)
df_NBA2.fillna(0, inplace=True)

In [124]:
x = df_NBA2.drop('played', axis=1) #x is the NBA data set with only numeric values but the played column
y = df_NBA2.played
print('Original dataset shape %s' % Counter(y))

Original dataset shape Counter({1: 523751, 0: 102360})

523751 players have played some minute and 102360 players have NOT played any minute. There is a big difference in % so we will use SMOTE to simulate further players that don´t have played

In [125]:
x

,FGM,FGA,FG_PCT,FG3M,FG3A,FG3_PCT,FTM,FTA,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TO,PF,PTS,PLUS_MINUS
0,1.0,6.0,0.167,0.0,5.0,0.000,1.0,1.0,1.000,1.0,5.0,6.0,2.0,1.0,0.0,1.0,0.0,3.0,2.0
1,2.0,12.0,0.167,1.0,8.0,0.125,0.0,0.0,0.000,1.0,4.0,5.0,3.0,1.0,2.0,1.0,1.0,5.0,-14.0
2,9.0,12.0,0.750,0.0,0.0,0.000,2.0,5.0,0.400,2.0,7.0,9.0,1.0,2.0,1.0,1.0,4.0,20.0,-2.0
3,9.0,20.0,0.450,5.0,11.0,0.455,1.0,1.0,1.000,0.0,3.0,3.0,7.0,2.0,0.0,2.0,3.0,24.0,-9.0
4,0.0,5.0,0.000,0.0,4.0,0.000,0.0,0.0,0.000,0.0,3.0,3.0,2.0,0.0,0.0,2.0,1.0,0.0,-5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
626106,4.0,9.0,0.444,3.0,6.0,0.500,6.0,7.0,0.857,0.0,2.0,2.0,0.0,2.0,0.0,1.0,3.0,17.0,0.0
626107,7.0,11.0,0.636,0.0,0.0,0.000,4.0,4.0,1.000,1.0,0.0,1.0,1.0,1.0,0.0,3.0,3.0,18.0,0.0
626108,3.0,7.0,0.429,0.0,0.0,0.000,0.0,0.0,0.000,3.0,5.0,8.0,0.0,1.0,0.0,0.0,3.0,6.0,0.0
626109,1.0,1.0,1.000,0.0,0.0,0.000,0.0,2.0,0.000,1.0,2.0,3.0,1.0,0.0,0.0,4.0,2.0,2.0,0.0
626110,3.0,6.0,0.500,0.0,0.0,0.000,2.0,4.0,0.500,0.0,2.0,2.0,6.0,2.0,0.0,6.0,1.0,8.0,0.0

In [126]:
smote = SMOTE()
x_sm, y_sm = smote.fit_resample(x, y)
print('Original dataset shape %s' % Counter(y_sm))

Original dataset shape Counter({1: 523751, 0: 523751})

The number of players that have played or NOT any minutes is now the same

In [127]:
x_sm

,FGM,FGA,FG_PCT,FG3M,FG3A,FG3_PCT,FTM,FTA,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TO,PF,PTS,PLUS_MINUS
0,1.0,6.0,0.167,0.0,5.0,0.000,1.0,1.0,1.0,1.0,5.0,6.0,2.0,1.0,0.0,1.0,0.0,3.0,2.0
1,2.0,12.0,0.167,1.0,8.0,0.125,0.0,0.0,0.0,1.0,4.0,5.0,3.0,1.0,2.0,1.0,1.0,5.0,-14.0
2,9.0,12.0,0.750,0.0,0.0,0.000,2.0,5.0,0.4,2.0,7.0,9.0,1.0,2.0,1.0,1.0,4.0,20.0,-2.0
3,9.0,20.0,0.450,5.0,11.0,0.455,1.0,1.0,1.0,0.0,3.0,3.0,7.0,2.0,0.0,2.0,3.0,24.0,-9.0
4,0.0,5.0,0.000,0.0,4.0,0.000,0.0,0.0,0.0,0.0,3.0,3.0,2.0,0.0,0.0,2.0,1.0,0.0,-5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1047497,0.0,0.0,0.000,0.0,0.0,0.000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1047498,0.0,0.0,0.000,0.0,0.0,0.000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1047499,0.0,0.0,0.000,0.0,0.0,0.000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1047500,0.0,0.0,0.000,0.0,0.0,0.000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1047501,0.0,0.0,0.000,0.0,0.0,0.000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

Usefull links about SMOTE:

https://machinelearningmastery.com/smote-oversampling-for-imbalanced-classification/

https://imbalanced-learn.org/stable/references/generated/imblearn.over_sampling.SMOTE.html

https://towardsdatascience.com/how-to-effortlessly-handle-class-imbalance-with-python-and-smote-9b715ca8e5a7

## Exercici 3
**Continua amb el conjunt de dades de tema esportiu i genera una mostra utilitzant el mètode Reservoir sampling.**

I love this problem statement:

Say you have a stream of items of large and unknown length that we can only iterate over once.
Create an algorithm that randomly chooses an item from this stream such that each item is equally likely to be selected.

We are going to select randomly 1000 players from our NBA Dataset

In [128]:
import random

In [129]:
k=1000
reservoir = []
for i, element in enumerate(df_NBA.PLAYER_ID):
    if i+1<= k:
        reservoir.append(element)
    else:
        probability = k/(i+1)
        if random.random() < probability:
            # Select item in df_NBA and remove one of the k items already selected
             reservoir[random.choice(range(0,k))] = element

In [130]:
reservoir

[204038,
 2553,
 203095,
 202684,
 201588,
 201577,
 2427,
 2617,
 101155,
 201229,
 1629027,
 202682,
 1752,
 1731,
 966,
 203094,
 201196,
 202684,
 202684,
 2403,
 1723,
 1629667,
 202683,
 201943,
 2592,
 202731,
 203471,
 1629631,
 1502,
 201238,
 201568,
 1626143,
 201177,
 203493,
 2617,
 397,
 200797,
 1065,
 2754,
 101145,
 2205,
 203917,
 202087,
 201188,
 2034,
 203935,
 203526,
 1629633,
 201858,
 1730,
 1627732,
 101133,
 203084,
 202334,
 2222,
 202721,
 358,
 201965,
 2563,
 202688,
 1548,
 1729,
 101179,
 1882,
 202689,
 202337,
 101130,
 1909,
 101114,
 201977,
 203141,
 202325,
 201590,
 2250,
 201043,
 202335,
 203585,
 202708,
 1626159,
 201575,
 201952,
 2419,
 1629643,
 201563,
 101130,
 200809,
 2410,
 203909,
 243,
 1497,
 1628993,
 686,
 1629013,
 2758,
 201587,
 202718,
 1960,
 2549,
 101130,
 201939,
 2200,
 203496,
 203481,
 2557,
 204222,
 959,
 1628391,
 203103,
 2200,
 202732,
 1628972,
 201192,
 101187,
 201579,
 1628510,
 1627851,
 283,
 2544,
 202694,
 2067,
 72,
 1499,
 201156,
 2419,
 200761,
 203080,
 101150,
 1853,
 1629139,
 1747,
 101133,
 101181,
 1630253,
 2548,
 200817,
 201196,
 1628464,
 200746,
 1629647,
 1626153,
 101253,
 2736,
 2767,
 2451,
 2199,
 2544,
 1627749,
 1626163,
 2403,
 213,
 1890,
 203943,
 2734,
 2199,
 399,
 1630174,
 203113,
 708,
 203918,
 948,
 203924,
 2109,
 2751,
 2617,
 203901,
 2419,
 201154,
 101187,
 203953,
 1626145,
 200761,
 1956,
 2546,
 203517,
 203926,
 203513,
 2744,
 201171,
 1626149,
 203484,
 202722,
 101114,
 200794,
 202339,
 2605,
 958,
 201604,
 2061,
 1626162,
 203471,
 2753,
 2260,
 1922,
 722,
 203101,
 1626144,
 2037,
 406,
 2605,
 133,
 1733,
 2047,
 201572,
 1533,
 2617,
 1952,
 202338,
 101114,
 2571,
 1628021,
 101139,
 2199,
 1897,
 2048,
 297,
 1718,
 202682,
 200757,
 200755,
 1501,
 203077,
 101135,
 1628379,
 951,
 203468,
 2400,
 200769,
 1515,
 202334,
 1892,
 2212,
 202349,
 2098,
 1713,
 203897,
 101114,
 202713,
 1630679,
 201589,
 1628402,
 2409,
 200765,
 2294,
 922,
 202738,
 203998,
 1630264,
 1715,
 2594,
 203967,
 1713,
 1887,
 1112,
 2546,
 101180,
 203584,
 1889,
 1594,
 2403,
 203960,
 203999,
 2743,
 201972,
 2248,
 2400,
 203102,
 203098,
 2581,
 201951,
 200760,
 201950,
 201627,
 1894,
 2031,
 203524,
 1902,
 2594,
 203948,
 1628382,
 101150,
 101135,
 1630268,
 201229,
 201943,
 1626192,
 203460,
 1903,
 2430,
 2767,
 1627747,
 2624,
 1743,
 201936,
 203077,
 202698,
 1628400,
 202335,
 201967,
 2757,
 204456,
 1985,
 1629647,
 101132,
 1495,
 202687,
 1720,
 2548,
 201934,
 101150,
 2736,
 101138,
 2207,
 739,
 1630,
 2562,
 203476,
 1916,
 2203,
 201596,
 2744,
 203471,
 203585,
 980,
 2397,
 201575,
 203482,
 201970,
 203115,
 2557,
 203078,
 1712,
 201147,
 203901,
 2735,
 101181,
 200763,
 2052,
 101122,
 950,
 2756,
 202684,
 200768,
 1630,
 201229,
 200792,
 101262,
 202688,
 201564,
 201160,
 203085,
 2228,
 203102,
 703,
 467,
 2581,
 983,
 101122,
 203079,
 2730,
 203469,
 101106,
 2594,
 203900,
 278,
 203937,
 203487,
 2399,
 202694,
 201943,
 1627746,
 202330,
 1717,
 203077,
 2751,
 2199,
 200762,
 990,
 201196,
 1629714,
 2243,
 1761,
 2041,
 101111,
 202683,
 203135,
 201166,
 2571,
 200746,
 201153,
 200767,
 1629740,
 714,
 2767,
 2743,
 1714,
 1626172,
 203933,
 1628389,
 1717,
 1628021,
 203915,
 2744,
 202361,
 201161,
 202714,
 1628973,
 203382,
 201167,
 1626144,
 101141,
 203506,
 2422,
 2423,
 2617,
 2552,
 201975,
 2469,
 101131,
 147,
 2757,
 2546,
 201149,
 1629001,
 203928,
 101139,
 1626157,
 1629756,
 202389,
 2124,
 2037,
 202695,
 2406,
 203086,
 201566,
 200826,
 2412,
 1629690,
 2501,
 202335,
 2030,
 1628469,
 200748,
 200765,
 201599,
 202066,
 101128,
 201568,
 201583,
 2037,
 1628389,
 203118,
 2546,
 1628513,
 201962,
 201171,
 1744,
 201950,
 2554,
 1720,
 101127,
 2772,
 1548,
 203991,
 1629608,
 201949,
 1626195,
 201975,
 2501,
 200783,
 2207,
 2254,
 101145,
 2419,
 202362,
 353,
 203109,
 255,
 200777,
 101180,
 101217,
 2567,
 202066,
 101126,
 203503,
 2561,
 2217,
 201584,
 203933,
 1628982,
 202335,
 101138,
 101181,
 2215,
 201569,
 384,
 1713,
 201956,
 203090,
 203104,
 201565,
 1890,
 202419,
 200768,
 201145,
 201336,
 1761,
 757,
 1733,
 1495,
 200761,
 2547,
 202087,
 201580,
 201589,
 203926,
 101179,
 2547,
 201142,
 2748,
 1628412,
 1628370,
 101177,
 2588,
 2555,
 1626157,
 203458,
 101123,
 2772,
 200782,
 200767,
 2260,
 1889,
 2484,
 201565,
 1737,
 200783,
 2410,
 2124,
 202692,
 2039,
 905,
 1626192,
 2757,
 1922,
 2748,
 358,
 1718,
 2570,
 1499,
 201570,
 203078,
 2757,
 1517,
 203895,
 203482,
 202730,
 1629751,
 953,
 693,
 201187,
 200765,
 203089,
 1628448,
 1629752,
 202333,
 203130,
 2137,
 1628400,
 278,
 202349,
 204001,
 201611,
 1627770,
 2546,
 2730,
 201604,
 200816,
 977,
 201156,
 201935,
 1504,
 202721,
 2804,
 2047,
 201153,
 201234,
 201160,
 1629632,
 101138,
 2403,
 1628035,
 1626168,
 1628404,
 201988,
 1628401,
 2222,
 203081,
 1513,
 2575,
 204014,
 1626168,
 202686,
 203895,
 200777,
 202729,
 1918,
 2216,
 203503,
 1626195,
 1626203,
 2744,
 2594,
 2565,
 202325,
 2586,
 1629117,
 201581,
 1629012,
 201577,
 2590,
 1752,
 2239,
 2056,
 202339,
 2370,
 1629655,
 203613,
 2757,
 2544,
 201942,
 201152,
 1739,
 203095,
 203912,
 2585,
 1628962,
 203918,
 101150,
 2594,
 101131,
 203119,
 201146,
 200779,
 978,
 2443,
 101110,
 202710,
 468,
 1919,
 201584,
 2565,
 1629657,
 2030,
 1627746,
 270,
 1628371,
 2730,
 201949,
 203469,
 2748,
 203999,
 203918,
 203121,
 2072,
 2551,
 101106,
 2550,
 1863,
 2260,
 1499,
 101155,
 203095,
 1627853,
 202696,
 201962,
 2402,
 2558,
 201177,
 1627783,
 202339,
 202691,
 1627770,
 1761,
 202722,
 1563,
 202326,
 101133,
 2365,
 201627,
 970,
 201975,
 200794,
 203088,
 1713,
 2419,
 2055,
 2555,
 1627762,
 2205,
 1887,
 2585,
 101130,
 2200,
 1628422,
 101142,
 201945,
 203499,
 2440,
 2243,
 202688,
 1629013,
 203118,
 905,
 2562,
 2200,
 1628680,
 201595,
 101106,
 202701,
 2073,
 101236,
 101126,
 979,
 203106,
 2573,
 1627742,
 200746,
 953,
 101133,
 101144,
 2679,
 203149,
 202336,
 2499,
 1905,
 200758,
 101131,
 201149,
 952,
 202397,
 2544,
 1630168,
 201171,
 2571,
 201593,
 200818,
 977,
 201946,
 202360,
 703,
 201573,
 1802,
 905,
 201587,
 2037,
 2484,
 101179,
 2573,
 2429,
 203943,
 202693,
 200755,
 202701,
 202348,
 2756,
 2742,
 2039,
 101138,
 201229,
 201578,
 200826,
 1626156,
 2246,
 2572,
 2243,
 1628995,
 203894,
 2605,
 203109,
 203087,
 2734,
 201988,
 201566,
 101107,
 2050,
 2594,
 1710,
 201949,
 1628980,
 201189,
 201587,
 2225,
 101123,
 2585,
 200748,
 1718,
 978,
 1541,
 2210,
 203507,
 201960,
 1740,
 101127,
 101138,
 779,
 1628513,
 2207,
 1626157,
 201175,
 200782,
 203079,
 202734,
 1626164,
 201632,
 1501,
 101114,
 201568,
 2078,
 202954,
 727,
 203382,
 2430,
 101138,
 202709,
 101127,
 2545,
 1952,
 1503,
 201154,
 201977,
 2419,
 203894,
 1629076,
 202685,
 203077,
 203473,
 324,
 1628365,
 201578,
 101198,
 2743,
 101158,
 202348,
 2581,
 1740,
 101109,
 201568,
 951,
 911,
 1627742,
 203199,
 983,
 201567,
 101177,
 202344,
 2211,
 2584,
 203458,
 201188,
 2230,
 2400,
 201966,
 448,
 1501,
 201175,
 202325,
 2738,
 948,
 201949,
 203096,
 1888,
 1960,
 2420,
 2419,
 2756,
 203506,
 2575,
 203135,
 201446,
 203086,
 1628398,
 2248,
 2246,
 203946,
 1628420,
 2744,
 101130,
 1800,
 203109,
 203477,
 203935,
 2753,
 203521,
 1628396,
 2555,
 2566,
 201585,
 1628415,
 101135,
 101108,
 2549,
 1497,
 200757,
 389,
 202330,
 101139,
 203489,
 1628443,
 1626202,
 202724,
 203960,
 101179,
 2547,
 201144,
 2207,
 200768,
 203992,
 2738,
 1628422,
 1513,
 1626163,
 203093,
 101109,
 1626172,
 2563,
 201162,
 203459,
 1627826,
 202683,
 1627774,
 202688,
 2585,
 467,
 2605,
 1729,
 2124,
 203146,
 201967,
 2592,
 2436,
 201158,
 1749,
 1627732,
 201160,
 202682,
 201949,
 203095,
 202362,
 2422,
 101138,
 200786,
 1737,
 1913,
 2124,
 201939,
 201578,
 201584,
 201208,
 2564,
 1802,
 201149,
 1628993,
 201177,
 1717,
 1752,
 1916,
 201937,
 1629346,
 1630271,
 101127,
 203903,
 1628369,
 203999,
 202683,
 959,
 2209,
 2694,
 200779,
 1626196,
 980,
 201964,
 2072,
 203082,
 686,
 1627756,
 1730,
 101142,
 2484,
 201156,
 2747,
 2760,
 101110,
 200811,
 1626159,
 101236,
 203486,
 2736,
 202688,
 203967,
 2202]

In [131]:
len(reservoir)

1000